<h1>Listing configurations</h1>

<% form_for @configuration do |f| %>
  <%= f.error_messages %>
  
  <p><%= label_tag 'shoutts_x_page', I18n.t('shoutts_x_page') %><br/>
  <%= f.text_field :shoutts_x_page %></p>
  
  <p><%= label_tag 'authenticate_by_ldap', I18n.t('authenticate_by_ldap') %><br/>
  <%= f.text_field :authenticate_by_ldap %></p>
  
  <p><%= label_tag 'ldap_host', I18n.t('ldap.host') %><br/>
  <%= f.text_field :ldap_host %></p>
  
  <p><%= label_tag 'ldap_base', I18n.t('ldap.base') %><br/>
  <%= f.text_field :ldap_base %></p>
  
  <p><%= label_tag 'ldap_login_suffix', I18n.t('ldap.login_suffix') %><br/>
  <%= f.text_field :ldap_login_suffix %></p>
  
  <p><%= label_tag 'ldap_search_key', I18n.t('ldap.search_key') %><br/>
  <%= f.text_field :ldap_search_key %></p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
